body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c0c0c0;
    opacity: .95;
    padding: 0.5em;
    position: sticky;
    top: 0;
    z-index: 1;
}
section {
    padding: 2rem;
    margin: 3rem 0;
    border-bottom: 1px solid #ddd;
}


/* HOME */

.link-items {
    display:flex;
    gap: 1em;
    align-items: center;
}


.link-items .resume {
    text-decoration: none;
    font-size: 0.9em;
    color: white;
    background-color: black;
    height: 1.5em;
    padding: 0.5em;
    padding-top: 0.75em;
    border-radius: 0.5em;
}


